body{ 
	background: #000;
	animation: bgmove 2s linear 12s forwards;
} 
@keyframes bgmove{ 
	from{
		background: #000;
	}
	to{
		background: url("../img/bg.png") 0 0 no-repeat;	
	}
}
html{ width: 100px;}
/* 下雪 */
@keyframes mysnow{ 
	0% { bottom: 100%; opacity: 0; } 
	50% { opacity: 1;} 
	100% { opacity: 1; bottom: 0%;} 
} 
.container{ 
	position: fixed; 
	top: 0rem;
	left: 0rem;
} 
.pic{ 
	position: absolute; 
	opacity: 0; 
	animation: mysnow 8s;
	height: 0.3rem; 
}
/* logo */
.logo{
	width: 1.98rem;
	height: 1.1rem;
	animation: logomove 2s ease-in 5s forwards;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.55rem;
	margin-left: -0.99rem;
	opacity: 0;
}
/* logo动画 */
@keyframes logomove{ 
	from{
		top: 50%;
		left: 50%;
		margin-top: -0.55rem;
		margin-left: -0.99rem;
		opacity: 0;
	}
	to{
		top: 1.76rem;
		left: 5.60rem;
		margin-top: 0rem;
		margin-left: 0rem;
		opacity: 1;
	}
}
/* 框内容 */
.con{
	width: 8.03rem;
	height: 5.03rem;
	margin-top: 2.31rem;
	margin-left: 5.6rem;
	text-align: center;
	overflow: hidden;
	background: url("../img/矩形-3-拷贝.png") 0 0 no-repeat;
	background-size: 8.03rem 5.03rem;
	animation: wenzi 2s linear 12s forwards;
	opacity: 0;
}
.linetop{
	width: 0rem;
	height: 0.07rem;
	background-color: #f3f3f3;
	display: inline-block;
	position: absolute;
	top: 2.31rem;
	left: 7.58rem;
	animation: linemove1 1s linear 8s forwards;
}
.lineright{
	width: 0.07rem;
	height: 0rem;
	background-color: #f3f3f3;
	display: inline-block;
	position: absolute;
	top: 2.31rem;
	right: 5.6rem;
	animation: linemove2 1s linear 9s forwards;
}
.linebottom{
	width: 0rem;
	height: 0.07rem;
	background-color: #f3f3f3;
	display: inline-block;
	position: absolute;
	top: 7.25rem;
	right: 5.6rem;
	animation: linemove3 1s linear 10s forwards;
}
.lineleft{
	width: 0.07rem;
	height: 0rem;
	background-color: #f3f3f3;
	display: inline-block;
	position: absolute;
	top: 7.25rem;
	left: 5.6rem;
	animation: linemove4 1s linear 11s forwards;
}
/* 线动画 */
@keyframes linemove1{ 
	from{
		width: 0rem;	
	}
	to{
		width: 5.97rem;
	}
}
@keyframes linemove2{ 
	from{
		height: 0rem;
	}
	to{
		height: 5.01rem;
	}
}
@keyframes linemove3{ 
	from{
		width: 0rem;
	}
	to{
		width: 7.98rem;
	}
}
@keyframes linemove4{ 
	from{
		height: 0rem;
		top: 7.32rem;
	}
	to{
		height: 4.41rem;
		top: 2.92rem;
	}
}
/* 文字 */
.LANDWELL{
	width: 4.69rem;
	height: 0.41rem;
	margin-top: 1.36rem;
}
.Welcome{
	width: 4.74rem;
	height: 0.91rem;
	margin-top: 0.36rem;
}
.Homeofdesign{
	width: 4.71rem;
	height: 0.15rem;
	margin-top: 0.2rem;
}
@keyframes wenzi{ 
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
/* 按钮 */
.anniu{
	width: 1.42rem;
	height: 0.9rem;
	margin-top: 0.68rem;
	animation: anniumove 0.6s linear 12s forwards;
	opacity: 0;
}
@keyframes anniumove{ 
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.btn{
	width: 1.42rem;
	height: 0.42rem;
	border: 0.01rem solid #fff;
	margin-left: 8.9rem;
	text-align: center;
	line-height: 0.42rem;
	color: #fff;
	font-size: 0.12rem;
	cursor: pointer;
}
.jiantou{
	width: 0.1rem;
	height: 0.09rem;
	margin-top: 0.14rem;
	margin-left: 9.61rem;
	display: inline-block;
	background: url("../img/形状-1.png") 0 0 no-repeat;
	background-size: 0.1rem 0.09rem;
	animation: jiantoumove 0.6s linear 12s infinite;
}
@keyframes jiantoumove{ 
	from{
		margin-top: 0.14rem;
	}
	to{
		margin-top: 0.28rem;
	}
}
