#outer{
	width: 7.5rem;
	height: 12.95rem;
	background: url(../img/bg_21_02.png)0 0 no-repeat;
	background-size: 8.5rem 13.95rem;

}
#inner{
	margin: 0 auto;
	padding-top: 0.4rem;
	width: 6.51rem;
}
#nav1{
	display: none;
}
#nav2{
	padding-top: 0.8rem;
	display: block;
	float: right;
}
/* ----------------- */
#rc_h_right2{
	width: 1.04rem;
	height: 1.56rem;
	text-align: center;
	font-size: 0.2rem;
	color: #fff;
	background: rgba(26,26,26,0.6);
	position: absolute;
	top: 1.19rem;
	right: 0.78rem;
	z-index: 2;
	display: none;
}
#rc_h_right2 a{
	display: block;
	color: #fff;
	height: 0.3rem;
}

#nav_{
	margin-top: 0.2rem;
	position: relative;
	width: 6.51rem;
	height: 9.25rem;
	background: url(../img/bg_31_03.png)0 0 no-repeat;
	background-size: 6.51rem 9.25rem;
	padding-bottom: 1.4rem;
}
#nav_ img{
	width: 1.93rem;
	height: 1.66rem;
	position: absolute;
}
#img1{
	top: 1.24rem;
	left: 1.87rem;
}
#img2{
	top: 2.89rem;
	left: 2.81rem;
}
#img3{
	top: 6.18rem;
	left: 0.92rem;
}
#img4{
	top: 4.55rem;
	left: 3.77rem;
}
#foot{
	width: 100%;
	border-top: 0.01rem solid #fff;
}
#Copy{
	padding-left: 0.6rem;
	line-height: 0.5rem;
	font-size: 0.18rem;
	color: #fff;
}