body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
html,body{font-family:"微软雅黑","宋体",Arail,Tabhoma; font-size: 12px; text-align: left;}
ul,ol{list-style: none;}
img{border: 0;}
input,select,textarea{outline:0;}
textarea{resize:none; overflow: auto;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em{font-weight: normal; font-style: normal;}
a{text-decoration: none;}
html{
	font-size: 100px;
}
.outer{
	position: relative;
	width: 6.4rem;
	margin: 0 auto;
	background: url(../img/bg01.jpg) 0 0 repeat;
	background-size: 6.4rem 100%;
	padding-bottom: 1rem;
}
.con0{
	width:6.4rem
}
.outer h1{
	color: #be0e10;
	height: 0.95rem;
	line-height: 0.95rem;
	text-align: center;
	font-size: 0.5rem;
	margin-bottom: 0.2rem;
}
.outer p{
	width: 5.5rem;
	color: #6f7d7e;
	font-size: 0.3rem;
	margin: 0 auto;
}
.outer p span{
	color: #072f75;
}